/*ř*/
TD   	{ font-family: Verdana CE, Verdana, Geneva CE, Geneva, Arial CE, Arial, Helvetica CE, Helvetica, sans-serif; }
BODY	{ background-color:#FFFFFF;}

.text { font-family: Verdana CE, Verdana, Geneva CE, Geneva, Arial CE, Arial, Helvetica CE, Helvetica, sans-serif;
	font-style:normal;
	font-size:8pt;
}
.text A {
	color : #0000CC;
	text-decoration : none;
}
.text A:hover {
	color : #0000CC;
	text-decoration : underline;
}
.form_labels		{ font-size:14px; font-family:arial, helvetica }
.add_new_header		{ font-size:16; font-family:arial, helvetica; font-weight:bold }
.delete_pg_txt		{ font-size:14px; font-family:arial, helvetica }

.display_header		{ font-size:16px; font-family:arial, helvetica; font-weight:bold }
.display_title		{ font-size:12px; font-family:arial, helvetica; color:#FFFFFF; font-weight:bold }
.display_txt		{ font-size:12px; font-family:arial, helvetica; color:#000000 }
.display_user		{ font-size:10px; font-family:verdana, helvetica, arial; color:#999999; font-weight:bold }
.display_edit		{ font-size:10px; font-family:verdana, arial, helvetica }
.display_title_bg	{ background-color:#999999 }
.display_txt_bg		{ background-color:#EDECD8 }

